// @import '../../../assets/styles/mixins';
//find way to not having to import it here but still able to access all the variables

// $primary-color: black;

@mixin color {
  &--blue {
    background-color: var(--primary-color); 
  }
  &--green {
    background-color: var(--green-color);
  }
  &--yellow {
    background-color: var(--yellow-color);
  }
}

.card-icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin-top: (-20px - 16px); //since 16px is the padding of the container
  border-radius: 4px;
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.2);
  // @include hex-to-rgba(var(--text-primary), 0.75); //TODO: figure out why this didnt work
  
  @include color;

  & > * {
    color: white;
  }
}