.todo {
  border-bottom: 2px groove var(--border);
  width: 100%;

  &__item {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__title {
      flex: 10 ;
      padding: 0 0 0 8px;
      color: var(--text-primary);
  
      &--disable {
        color: var(--text-secondary);
        flex: 10;
      }
    }
  
    &__edit {
      flex: 1;
      color: var(--green-color);
    }

    &__redo {
      flex: 1;
      color: var(--primary-color);
    }
  
    &__delete {
      flex: 1;
      color: var(--danger-color);
    }
  }

  &__edit {
    padding: 10px 10px 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__field {
      width: 450px;

      & > div {
        color: var(--text-primary);
      }
    }

    &__save {
      color: var(--primary-color);
    }
  }
  

}