@import './assets/styles/normalize';

//!important
:root {
  --primary-color: #4751B2;
  --green-color: #6bc77e;
  --danger-color: #d24734;
  --yellow-color: #fdb300; 
  --text-primary: #000000;
  --text-secondary: #696969;
  --background: #ffffff;
  --card: #ededed;

}

.app {
  background-color: var(--background);
  min-height: 100vh;

  &__main {
    padding: 80px 0 ;

    &__no-item {
      color: var(--text-secondary);
      padding: 10px;
      border-bottom: 2px groove var(--border);
    }
  }


}

